
/*BARRA PRINCIPAL*/


.sidebar .Logo img{
    width: 90px; /* SIRVE PARA PONERLE ANCHO A LA IMAGEN */
    margin-left: 50px;

}


@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
	--dk-gray-100: #F3F4F6;
	--dk-gray-200: #E5E7EB;
	--dk-gray-300: #D1D5DB;
	--dk-gray-400: #9CA3AF;
	--dk-gray-500: #6B7280;
	--dk-gray-600: #4B5563;
	--dk-gray-700: #374151;
	--dk-gray-800: #1F2937;
	--dk-gray-900: #111827;
	--dk-dark-bg: #313348;
	--dk-darker-bg: #2a2b3d;
	--navbar-bg-color: #fdeded; /*color a la primera barra*/
	--sidebar-bg-color: #252636;
	--sidebar-width: 250px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#wrapper {
	
	transition: all .3s ease-in-out;
}

#wrapper.fullwidth {
	margin-left: 0;
}
.navbar-header img{
  width: 70px;
}



/** --------------------------------
 -- Sidebar
-------------------------------- */

/** --------------------------------
 -- welcome
-------------------------------- */
.welcome {
	color: var(--dk-gray-300);
}

.welcome .content {
	background-color: var(--dk-dark-bg);
}

.welcome p {
	color: var(--dk-gray-400);
}




/** --------------------------------
 -- Statistics
-------------------------------- */
.statistics {
	color: var(--dk-gray-200);
 
}

.statistics .box {
	background-color: var(--dk-dark-bg);
  
}

.statistics .box i {
	width: 60px;
	height: 60px;
	line-height: 60px;
 
}

.statistics .box p {
	color: var(--dk-gray-400);
}




/** --------------------------------
 -- Charts
-------------------------------- */
.charts .chart-container {
	background-color: var(--dk-dark-bg);
}

.charts .chart-container h3 {
	color: var(--dk-gray-400)
}




/** --------------------------------
 -- users
-------------------------------- */
.admins .box .admin {
	background-color: var(--dk-dark-bg);
}

.admins .box h3 {
	color: var(--dk-gray-300);
}

.admins .box p {
	color: var(--dk-gray-400)
}




/** --------------------------------
 -- statis
-------------------------------- */
.statis {
	color: var(--dk-gray-100);
}

.statis .box {
	position: relative;
	overflow: hidden;
	border-radius: 50px;
  
}

.statis .box h3:after {
	content: "";
	height: 2px;
	width: 70%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.12);
	display: block;
	margin-top: 10px;
}

.statis .box i {
	position: absolute;
	height: 70px;
	width: 70px;
	font-size: 22px;
	padding: 15px;
	top: -25px;
	left: -25px;
	background-color: rgba(255, 255, 255, 0.15);
	line-height: 60px;
	text-align: right;
	border-radius: 50%;
}

/*color a los primeros cuadros*/


.color-1{
  background: gold;
}
.color-2{
  background: blue;
}





.main-color {
	color: #07daff
}

/** --------------------------------
 -- Please don't do that in real-world projects!
 -- overwrite Bootstrap variables instead.
-------------------------------- */

.navbar {
	background-color: var(--navbar-bg-color) !important;
	border: none !important;
}
.navbar .dropdown-menu {
	right: auto !important;
	left: 0 !important;
}
.navbar .navbar-nav>li>a {
	color: #EEE !important;
	line-height: 55px !important;
	padding: 0 10px !important;
}
.navbar .navbar-brand {color:#FFF !important}
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>li>a:hover {color: #EEE !important}

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover {background-color: transparent !important; color: #FFF !important}

.navbar .navbar-brand {line-height: 55px !important; padding: 0 !important}
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {color: #FFF !important}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 0 !important}
@media (max-width: 767px) {
	.navbar>.container-fluid .navbar-brand {
		margin-left: 15px !important;
	}
	.navbar .navbar-nav>li>a {
		padding-left: 0 !important;
	}
	.navbar-nav {
		margin: 0 !important;
	}
	.navbar .navbar-collapse,
	.navbar .navbar-form {
		border: none !important;
	}
}

.navbar .navbar-nav>li>a {
	float: left !important;
}
.navbar .navbar-nav>li>a>span:not(.caret) {
	background-color: #63f1c7 !important;
	border-radius: 50% !important;
	height: 25px !important;
	width: 25px !important;
	padding: 2px !important;
	font-size: 11px !important;
	position: relative !important;
	top: -10px !important;
	right: 5px !important
}
.dropdown-menu>li>a {
	padding-top: 5px !important;
	padding-right: 5px !important;
}
.navbar .navbar-nav>li>a>i {
	font-size: 18px !important;
}




/* Start media query */

@media (max-width: 767px) {
	#wrapper {
		margin: 0 !important
	}
	.statistics .box {
		margin-bottom: 25px !important;
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a {
		color: #CCC !important
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #FFF !important
	}
	.navbar .navbar-toggle{
		border:none !important;
		color: #EEE !important;
		font-size: 18px !important;
	}
	.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {background-color: transparent !important}
}


::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #7afa02;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icons a{
  color: #11101D;
  padding: 0px 5px;
  font-size: 30px;
  font-weight: bold;
  transition: 0.4s;
}

.icons a ion-icon{
  color: rgb(0, 0, 0);
}

.icons a:hover{
  color: #2a2b3d;
  transform: translateY(5px);
  transition: 0.4s;
}
.navbar__icon a{
  color: fuchsia;
  font-size: 40px;
}


/*BARRA DE BUSQUEDA*/









/*CUADRO TEXTO,PARTICULAS PRINCIPAL*/






/*BOTON VER MAS DE CARRUSEL*/

h2.nuevo-producto {
  font-family: 'Segoe UI';
  margin-top: 25px;
  font-size: 40px;
  margin-left: 10px;
  color: rgb(67, 67, 70);
}

.ver-mas-boton{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
button.boton-ver-mas{
    margin-left: 40px;
    background: rgb(243, 246, 255); /* SIRVE PARA PONERLE COLOR DE FONDO, NONE ES PARA QUE NO TENGA FONDO */
    border: rgb(7, 7, 7) none 2px; /* SIRVE PARA PONER UN BORDE AL BOTON */
    font-size: 25px; /* SIRVE PARA ESTABLECER EL TAMAÑO DE LA LETRA */
    border-radius: 10px; /* SIRVE PARA DARLE UN BORDE REDONDEADO (PONERLO EN 50% PARA QUE SEA UN CIRCULO PERFECTO)*/
    margin: 15px; /* SIRVE PARA AGREGAR UN MARGEN */
    font-family: 'Segoe UI';
    margin-top: -60px;
}
.ver-mas-boton button.boton-ver-mas:hover{    /*hover se activa al pasar cursor sobre el boton*/
  background-color: #FF8080; /* SIRVE PARA PONERLE COLOR DE FONDO, NONE ES PARA QUE NO TENGA FONDO */
  transition: 0.5s; /* SIRVE PARA PONERLE UNA TRANSICION A LOS CAMBIOS */
}






/*CSS DE CARRUSEL*/


.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  .ag-container-shops {
    padding: 60px 0;
    overflow: hidden;
    margin-top: -60px;
  }
  .ag-card-bg {
    height: 100%;
    width: 200%;
    background-position: 50%;
    background-size: cover;
    
    position: absolute;
    top: 0;
    left: -50%;
    
    -webkit-transition: height .6s;
    -moz-transition: height .6s;
    -o-transition: height .6s;
    transition: height .6s;
  }
  .ag-shop-card_box-wrap {
    padding: 15px;
  }
  .ag-shop-card_box {
    background-color: #FFF;
    
    overflow: hidden;
    
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
    -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
    -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 35, .25);
  
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }
  .ag-shop-card_body {
    display: block;
    height: 250px;
    width: 300px;
    background-position: 50%;
    background-size: cover;
    
    overflow: hidden;
  
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    
    position: relative;
  }
  .ag-shop-card-body_link {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    
    overflow: hidden;
  
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .35);
    -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .35);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .35);
    
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    
    -webkit-transition: top .4s;
    -moz-transition: top .4s;
    -o-transition: top .4s;
    transition: top .4s;
    display: none;
  }
  .ag-shop-card-body_img {
    max-width: 100%;
  }
  .ag-shop-card_footer {
    padding: 15px 30px;
    border: 0;
    background-color: #FFF;
  
    position: relative;
  }
  .ag-shop-card-footer_title {
    display: block;
    line-height: 1.3;
  
    font-weight: 700;
    font-size: 14px;
    color: gray;
  }
  .ag-shop-card-footer_products {
    display: block;
    line-height: 1.3;
  
    font-size: 12px;
  }
  .ag-shop-card-footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #FF8080;
  
    position: absolute;
    right: 30px;
    top: 15px;
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .ag-shop-card-footer_arrow {
    max-width: 16px;
  }
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }
  .boton-ver-mas img{
    width: 30px;
  }

  

/*PRODUCTOS PERSONALIZADOS*/



/*portafolio*/



a{
  text-decoration: none;
  color: #c4c3c3;
  margin: 10px 20px;
  font-size: 19px;
  font-weight: 700;
}
.categorias-portafolio a:hover{
  text-decoration: none;
  color: #000000;
  margin: 10px 20px;
  font-size: 19px;
  font-weight: 700;
}

.activo{
  color: black;
}

.portafolio-contenedor{
  width: 100%;
  max-width: 800px;
  margin: auto;
  
}
/* Tamaño del scroll */
.portafolio-contenedor::-webkit-scrollbar {
  width: 8px;
}

 /* Estilos barra (thumb) de scroll */
.portafolio-contenedor::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.portafolio-contenedor::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.portafolio-contenedor::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
 .portafolio-contenedor::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.portafolio-contenedor::-webkit-scrollbar-track:hover, 
.portafolio-contenedor::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
header{
  padding: 40px 0;
}

header .portafolio-logo{
  text-align: center;
  margin-bottom: 40px;
}

header .portafolio-logo p{
  color: #9B9B9B;
}

header form{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.images{
  overflow-y: scroll;
  height: 200px!important;
}

header .barra-busqueda-portafolio{
  width: 70%;
  height: 40px;
  line-height: 40px;
  background: #FFF;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  text-align: center;
  font-size: 16px;
}
header .categorias-portafolio{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}



/*ventana-emergente*/

.emergente{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .9);
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.emergente.activo{
  display: flex;
}

.emergente img{
  max-width: 100%;
}

.emergente .descripcion{
  display: block;
  background: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  max-width: 50%;
}

.contenedor-img{
  position: relative;
}
.emergente #btn-cerrar-popup{
  background: none;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
}

header .barra-busqueda-portafolio{
  width: 100%;
}
.contenedor{
  margin-top: -270px;
}
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
.showUser{
    display: none!important;
}
.Mostrar{
    display: flex!important;
    
}